:root {
    --main-color: #000;
    --accent-color: #87C232;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* general style*/

.wrapper {
    position: relative;
    background: #222629;
    padding: 0 80px 80px;
}
.container {
    position: relative;
    width: 100%;
}
.header {
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 16px;
    background: #222629;
    z-index: 9999;
}
.header li, a {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.devider {
    margin: 0 5px;
}
.lang {
    display: flex;
}
.lang a:hover {
    color: #618930;
    transition: 0.2s;
}
.sidenav {
    display: none;
    position: fixed;
    top: 80px;
    left: 80px;
    width: 50%;
    height: 100%;
    background: #618930;
    color: #fff;
}
.sidenav.active {
    display: block;
    z-index: 5;
}
.nav {
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 153px 80px;
}
.tel:hover {
    text-decoration: underline;
    transition: .5s;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.links li {
    margin-bottom: 32px;
}
.links a {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #272822;
}
.links a:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 4px;
    background: #272822;
    transform: scaleX(0);
    transition: transform .3s ease;
}
.links a:hover:before {
    transform: scaleX(1);
}
.mail {
    position: relative;
}
.mail span {
    display: block;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 16px;
}
.mail a {
    position: relative;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #272822;
}
.mail a:before {
    content: "";
    position: absolute;
    top: 21px;
    right: -40px;
    height: 2px;
    width: 25px;
    border-radius: 1px;
    background: #272822;
    transition: transform .3s ease;
}
.mail a:after {
    content: "";
    position: absolute;
    top: 18px;
    right: -47px;
    border-style: solid;
    border-width: 4px 0 4px 8px;
    border-color: transparent transparent transparent #272822;
    transition: transform .3s ease;
}
.mail:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 105px;
    height: 4px;
    background: #272822;
    transform: scaleX(0);
    transition: transform .3s ease;
}
.mail:hover:before {
    transform: scaleX(1);
}
.mail a:hover:before {
    transform: translate(15px, 0);
}
.mail a:hover:after {
    transform: translate(15px, 0);
}
.btn-menu {
    position: fixed;
    top: 50%;
    left: 50px;
    margin-top: 28px;
    width: 56px;
    height: 25px;
    z-index: 50;
    border: 0;
    background: none;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: 0.2s linear;
}
.btn-menu.active {
    left: 10px;
}
.first, .second, .third {
    display: block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 5px;
    background: #87C232;
}
.first {
    top: 0;
}
.second {
    top: 10px;
    right: -5px;
}
.third {
    top: 21px;
}
.btn-menu:not(.active):hover .first {
    top: -3px;
    transition: 0.2s linear;
}
.btn-menu:not(.active):hover .second {
    right: 5px;
    transition: 0.2s linear;
}
.btn-menu:not(.active):hover .third {
    top: 24px;
    transition: 0.2s linear;
}
.first.active {
    top: 10px;
    transform: rotate(45deg);
}
.second.active {
    opacity: 0;
}
.third.active {
    top: 11px;
    transform: rotate(-45deg);
}
.sidelinks {
    position: fixed;
    top: 50%;
    right: 25px;
}
.sidelinks svg {
    display: block;
    width: 24px;
    height: 24px;
    margin: 10px 0;
}
.startpage {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 100vh;
}
.greenbox {
    flex: 1 0 50%;
    background: #618930;
}
.whitebox {
    flex: 1 0 50%;
    background: #f5f5f5;
}
.padding {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15% 35%;
}
.container.active .padding {
    padding: 200px 360px 360px 60%;
}
.maintitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80px;
    line-height: 96px;
    text-transform: uppercase;
}
.prof_info {
    display: flex;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
    padding: 160px;
}
.container.active .prof_info {
    padding: 250px 80px 250px 60%;
}
.text {
    width: 60%;
}
.text span {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: var(--accent-color);
}
.text h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}
.text p {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin-top: 30px;
}
.image img {
    width: 100%;
    vertical-align: top;
}
.skill_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px;
    background: #f5f5f5;
}
.skill_box h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80px;
    line-height: 96px;
    color: #272822;
    margin-bottom: 32px;
}
.skill_box div {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin: 16px 0;
}
.progress_bar {
    position: absolute;
    top: 50%;
    left: 30%;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #618930;
    margin-top: -7px;
}
.skill_box:hover .size1 {
    width: 70%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.skill_box:hover .size2 {
    width: 40%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.skill_box:hover .size3 {
    width: 20%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.skill_box:hover .size4 {
    width: 20%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.skill_box:hover .size5 {
    width: 30%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.skill_box:hover .size6 {
    width: 10%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.skill_box:hover .size7 {
    width: 15%;
    border-radius: 7px;
    transition: width 1.5s ease;
}
.download {
    position: relative;
}
.download-img img {
    width: 100%;
    vertical-align: top;
}
.load-btn {
    position: absolute;
    top: 10%;
    left: 15%;
    width: 75%;
    height: 55%;
    cursor: pointer;
    opacity: 0;
}
.projects {
    position: absolute;
    top: 0;
    display: none;
    background: #222629;
    width: 100%;
    height: 100%;
}
.projects.active {
    display: block;
    z-index: 2;
}
.project-info {
    width: 50%;
    padding: 80px;
}
.project-info h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80px;
    line-height: 96px;
    color: #618930;
    margin-bottom: 80px;
}
.project-info h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin: 80px 0 60px;
}
.project-info p {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 15px;
}
.project-info a {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: #618930;
    text-decoration: underline;
}
.project-info a:before {
    content: "";
    position: absolute;
    top: 11px;
    right: -20px;
    height: 1px;
    width: 10px;
    background: #618930;
    transition: transform .3s ease;
}
.project-info a:after {
    content: "";
    position: absolute;
    top: 10px;
    right: -24px;
    border-style: solid;
    border-width: 2px 0 2px 5px;
    border-color: transparent transparent transparent #618930;
    transition: transform .3s ease;
}
.project-info a:hover:before {
    transform: translate(10px, 0);
}
.project-info a:hover:after {
    transform: translate(10px, 0);
}
.experience {
    padding: 80px;
    background: #f5f5f5;
}
.experience div {
    margin-top: 80px;
}
.experience h3 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 80px;
    line-height: 96px;
    color: #272822;
}
.experience span {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: var(--accent-color);
}
.experience h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #000;
}
.experience p {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    line-height: 38px;
    color: #000;
    margin-bottom: 45px;
}
.experience a {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    color: var(--accent-color);
    text-decoration: underline;
}
.experience a:before {
    content: "";
    position: absolute;
    top: 11px;
    right: -20px;
    height: 1px;
    width: 10px;
    background: var(--accent-color);
    transition: transform .3s ease;
}
.experience a:after {
    content: "";
    position: absolute;
    top: 10px;
    right: -24px;
    border-style: solid;
    border-width: 2px 0 2px 5px;
    border-color: transparent transparent transparent var(--accent-color);
    transition: transform .3s ease;
}
.experience a:hover:before {
    transform: translate(10px, 0);
}
.experience a:hover:after {
    transform: translate(10px, 0);
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.footer span {
    color: var(--accent-color);
}
.footer a {
    color: #fff;
}
.footer a:before {
    background: #fff;
}
.footer a:after {
    border-color: transparent transparent transparent #fff;
}
.footer .mail:before {
    background: #fff;
}

